<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../head %>
    <title>Document</title>
</head>

<body>
    <div class="header">
        <% include ../include/header %>
    </div>
    <div class="msg-container">

        <div class="error">
            <div class="img-container">
                <img src="images/notFound.png" />
            </div>
            <p class="body1 marL-10">페이지를 찾을 수 없습니다.</p>
        </div>


    </div>
    <% include ../include/footer %>
</body>

</html>