<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ./head %>
</head>

<body class="main-container">
  <div class="header">
    <% include include/header %>

    <div class="main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="carousel-item">
            <div class="item-info">
              <h6 class="carousel-category">프로그램</h6>
              <h1 class="carousel-title">
                원데이 클래스 데드리프트 오픈!
              </h1>
              <button class="btn">자세히보기</button>
              <div class="swiper-pagination"></div>
            </div>
            <img src="/images/main-img.png" class="carousel-img" style="background:gray">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="carousel-item">
            <div class="item-info">
              <h6 class="carousel-category">프로그램</h6>
              <h1 class="carousel-title">
                운동친구<Br> 오프라인 워크숍
              </h1>
              <button class="btn">자세히보기</button>
            </div>
            <img src="/images/main-img.png" class="carousel-img" style="background:gray">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="carousel-item">
            <div class="item-info">
              <h6 class="carousel-category">카테고리</h6>
              <h1 class="carousel-title">
                원데이 클래스 데드리프트 오픈!
              </h1>
              <button class="btn">자세히보기</button>
            </div>
            <img src="/images/main-img.png" class="carousel-img" style="background:gray">
          </div>
        </div>
        <!-- Add Pagination -->
      </div>

    </div>
  </div>

  <!-- 유튜브 -->
  <section class="youtube-section">
    <div class="section-title">
      <h3>운동친구 유튜브</h3>
      <div class="page-arrow">
        <img src="/svg/preArrow.svg" class="arrow" alt="pre">
        <h5 class="current-page"> 1/3</h5>
        <img src="/svg/nextArrow.svg" class="arrow" alt="pre">
      </div>
    </div>
    <div class="article-list">
      <article class=youtube-item>
        <div class="thumb">
          <img src="/images/youtube01.png" alt="pre">
        </div>
        <h6 class="date">2020.10.10</h6>
        <p class="title body1">액션 읽는 밤 4회 -핵금발 언니는 참지 않아!</p>
        <p class="text body2">액션영화를 문학처럼 읽는다, 액션 읽는 밤 이번 영화는 2017년에 개봉한 샤를리즈 테론 주연의 영화 ‘아토믹 블론드’입니다.</p>
      </article>
      <article class=youtube-item>
        <div class="thumb">
          <img src="/images/youtube02.png" alt="pre">
        </div>
        <h6 class="date">2020.10.10</h6>
        <p class="title body1">운동친구 첫 번째 원데이클래스 현장 스케치 -드디어 만난 우리!</p>
        <p class="text body2">지난 6월 13일은 운동친구가 처음 여러분을 만난 날입니다. 초보부터 고수까지 모여서 알듯말듯 어려운 데드리프트를 기초부터 배웠습니다.</p>
      </article>
      <article class=youtube-item>
        <div class="thumb">
          <img src="/images/youtube03.png" alt="pre">
        </div>
        <h6 class="date">2020.10.08</h6>
        <p class="title body1">파워투유 #4 | 매운맛 20분 홈트레이닝 운동 루틴</p>
        <p class="text body2">이번 파워투유 본운동은 매운맛! 운동입니다. 본운동이 짧다는 의견이 있어서 특별히 매운맛으로 준비했습니다.</p>
      </article>
    </div>
  </section>

  <!-- 클래스 -->
  <section class="program-section">
    <div class="section-title">
      <h3>프로그램</h3>
      <div class="page-arrow">
        <img src="/svg/preArrow.svg" class="arrow" alt="pre">
        <h5 class="current-page"> 1/3</h5>
        <img src="/svg/nextArrow.svg" class="arrow" alt="pre">
      </div>
    </div>
    <div class="program-list">
      <article class="program-item flex">
        <div class="thumb">
          <img src="/images/class01.png" alt="pre">
        </div>
        <div class="program-info">
          <h6 class="state">
            진행중
          </h6>
          <h4 class="title">원데이클래스: 주짓수</h4>
          <ul class="program-detail">
            <li>
              <img src="/svg/coach.svg" alt="pre">
              <span class="body2">고아라 선수</span>
            </li>
            <li>
              <img src="/svg/calendar.svg" alt="pre">
              <span class="body2">2020년 8월 18일 토요일</span>
            </li>
            <li>
              <img src="/svg/time.svg" alt="pre">
              <span class="body2">오후 4시</span>
            </li>
            <li>
              <img src="/svg/place.svg" alt="pre">
              <span class="body2">파이널유도멀티짐 도곡점</span>
            </li>
          </ul>
          <button class="btn" onClick="document.location.href='/notice'">자세히보기</button>
          <button class="btn">닫기</button>
        </div>
      </article>
      <article class="program-item flex">
        <div class="thumb">
          <img src="/images/class02.png" alt="pre">
        </div>
        <div class="program-info">
          <h6 class="state">
            신청마감
          </h6>
          <h4 class="title">원데이클래스: 주짓수</h4>
          <ul class="program-detail">
            <li>
              <img src="/svg/coach.svg" alt="pre">
              <span class="body2">윤소영(전 국가대표)</span>
            </li>
            <li>
              <img src="/svg/calendar.svg" alt="pre">
              <span class="body2">2020년 8월 11일 토요일</span>
            </li>
            <li>
              <img src="/svg/time.svg" alt="pre">
              <span class="body2">오후 4시</span>
            </li>
            <li>
              <img src="/svg/place.svg" alt="pre">
              <span class="body2">파이널유도멀티짐 도곡점</span>
            </li>
          </ul>
          <button class="btn">자세히보기</button>
          <button class="btn">닫기</button>
        </div>
      </article>
    </div>
  </section>

  <!-- 공지사항 -->
  <section class="news-section flex">
    <div class="half-section">
      <h3 class="marB-20">공지사항</h3>
      <ul id="notice-list">
        <li class="flex marB-10" onClick="document.location.href='/notice'">
          <span class="body3">7월 챌린저스 챌린지 안내</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10" onClick="document.location.href='/notice'">
          <span class="body3">운동친구 3회차 오프라인 워크숍 안내</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10" onClick="document.location.href='/notice'">
          <span class="body3">입금자를 찾습니다!!</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10" onClick="document.location.href='/notice'">
          <span class="body3">운동친구 공식 홈페이지 가입자 1만명 기념 이벤트</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex" onClick="document.location.href='/notice'">
          <span class="body3">운동친구 유튜브 구독자 3만명 기념 이벤트 안내</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
      </ul>
    </div>

    <div class="half-section">
      <h3 class="marB-20">대외소식</h3>
      <ul id="external-list">
        <li class="flex marB-10">
          <span class="body3">[서울신문] 레깅스 보라고 운동하는 거 아냐, 날 찾...</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10">
          <span class="body3">[세계일보] 날씬한 몸보다 ‘근육질 몸매’ 만들기...</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10">
          <span class="body3">[서울신문] 레깅스 보라고 운동하는 거 아냐, 날 찾...</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex marB-10">
          <span class="body3">[세계일보] 날씬한 몸보다 ‘근육질 몸매’ 만들기...</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
        <li class="flex">
          <span class="body3">[서울신문] 레깅스 보라고 운동하는 거 아냐, 날 찾...</span>
          <h6 class="gray">2020. 00. 00</h6>
        </li>
      </ul>
    </div>
  </section>


  <!-- 라뷰 -->

  <section class="review-section">
    <h6 class="review-title">워크숍 후기</h6>

    <div class="review-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <span class="review-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
          <span class="review-text body1">
            강사님부터 수강생까지 전부 여성이라 정말 편하게 운동할 수 있었어요! <br>
            이렇게 쾌적하게 운동할 수 있다니... 운동친구 잊지 못해 ㅠㅠ
          </span>
          <span class="review-user">수강생 김*순 님</span>
        </div>
        <div class="swiper-slide">
          <span class="review-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
          <span class="review-text body1">
            저는 솔직히 운동친구 클래스에 참여하는 게 재미있어서 그냥 신청한거였는데, <br>
            주짓수가 이렇게 재미있는 운동인줄 처음 알았습니다.
          </span>
          <span class="review-user">수강생 박*원 님</span>
        </div>
        <div class="swiper-slide">
          <span class="review-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
          <span class="review-text body1">
            왜 원데이 클래스인가요 왜 어째서!! <br>
            저는 정규 클래스 열어주시면 바로 등록하고 싶은 마음입니다.
          </span>
          <span class="review-user">수강생 이*수 님</span>
        </div>
        <div class="swiper-slide">
          <span class="review-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
          <span class="review-text body1">
            이번에 운동친구에서 원데이 클래스로 열어주셔서 드디어 배워볼 수 있었습니다!<br>
            이 재미있는 걸 남자만 매일 한다니 ㅠㅠㅠㅠ 운동친구에서 맨날 열어주면 좋겠습니다!!!
          </span>
          <span class="review-user">수강생 김*영 님</span>
        </div>
        <div class="swiper-slide">
          <span class="review-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
          <span class="review-text body1">
            운동친구 유튜브도 소중하고 원데이 클래스도 소중하고<br>
            운영분들도 너무 소중해요...
          </span>
          <span class="review-user">수강생 김*이 님</span>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

  </section>

  <!-- 굿즈 -->
  <section class="product-section">
    <div class="section-title">
      <h3>굿즈</h3>
      <div class="page-arrow" onClick="document.location.href='/production'">
        <h5 class="current-page"> 굿즈더보기</h5>
        <img src="/svg/nextArrow.svg" class="arrow" alt="pre">
      </div>
    </div>

    <div class="product-list">
      <article class="product-item flex">
        <div class="thumb">
          <img src="/images/product01.png" alt="pre">
          <span class="product-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
        </div>
        <div class="product-info">
          <h6 class="state">
            진행중
          </h6>
          <h4 class="title">운동친구 텀블러</h4>
          <p class="body2 marB-30">마실 때는 흐르지 않고, 세척하기는 간편한 운동친구 텀블러를 소개합니다!</p>

          <button class="btn">자세히보기</button>
          <button class="btn">닫기</button>
        </div>
      </article>
      <article class="product-item flex">
        <div class="thumb">
          <img src="/images/product02.png" alt="pre">
          <span class="product-star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
            <img src="/svg/star.svg" alt="star">
          </span>
        </div>
        <div class="product-info">
          <h6 class="state">
            진행중
          </h6>
          <h4 class="title">운동친구 타올</h4>
          <p class="body2 marB-30">운동하고 씻을 때마다 운동친구 기억해줄래요? 뽀송뽀송 운동친구 타월이 나왔...</p>

          <button class="btn">자세히보기</button>
          <button class="btn">닫기</button>
        </div>
      </article>
    </div>

  </section>


  <% include include/footer %>
</body>
<% include include/searchDim %>

</html>
<style>

</style>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script>

  var swiper = new Swiper('.main-swiper', {
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      },
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    loop: true,
  });

  var verticalSwiper = new Swiper('.review-swiper', {
    mousewheel: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      },
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    loop: true,
  });


</script>