<footer>

	<div class="footer">
		<div class="footer-logo">
			<img src="/svg/signiture.svg">
		</div>
		<div class="footer-right">
			<ul class="terms">
				<li>개인정보 처리방침</li>
				<li>자주 묻는 질문</li>
				<li>문의 conimal.project@gmail.com</li>
			</ul>
			<div class="copyright">
				<span>© Copyright 2020 Conimal. All Rights Reserved.</span>
			</div>
		</div>
	</div>

</footer>