<header>
  <div class="logo">
    <span onClick="document.location.href='/'">
      <img src="/svg/logo.svg" />
    </span>
  </div>
  <ul class="nav-category">
    <li onclick="location.href='/member'">운동친구</li>
    <li onclick="location.href='/program'">프로그램</li>
    <li onclick="location.href='/production'">굿즈</li>
    <li onclick="location.href='/content'">컨텐츠</li>
    <li onclick="searchBtn()">검색</li>
  </ul>

  <span class="header-right">
    <button class="btn small" onclick="location.href='/my-page/my-page'">
      로그인
    </button>
    <button class="btn small" onclick="location.href='/logout'">
      장바구니
    </button>
  </span>
</header>
