<header>
  <div class="logo">
    <span onClick="document.location.href='/'">
      <img src="/svg/logo.svg" />
    </span>
  </div>
  <ul class="nav-category">
    <li class="sub introduction">
      <span onclick="location.href='/member'">운동친구</span>
      <ul class="sub-category introduction">
        <li onclick="location.href='/about'"><span>소개</span></li>
        <li onclick="location.href='/member'"><span>멤버</span></li>
      </ul>
    </li>
    <li onclick="location.href='/program'">프로그램</li>
    <li onclick="location.href='/production'">굿즈</li>
    <li class="sub contents">
      <span onclick="location.href='/youtube'">컨텐츠</span>
      <ul class="sub-category contents">
        <li onclick="location.href='/youtube'">유튜브</li>
        <li onclick="location.href='/column'">칼럼</li>
      </ul>
    </li>
    <li onclick="searchBtn()">검색</li>
  </ul>

  <span class="header-right">
    <button class="btn small" onclick="location.href='/my-page/my-page'">
      로그인
    </button>
    <button class="btn small" onclick="location.href='/logout'">
      장바구니
    </button>
  </span>
</header>

<script>
</script>