<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include ../head %>
    <title>Document</title>
  </head>
  <body class="about-container">
    <div class="header"><% include ../include/header %></div>

    <!-- about us -->
    <section class="about-us-section">
      <div class="about-section-title"><h2>운동친구 소개</h2></div>
      <div class="about-section-contents">
        <div class="about-us-info">
          <p class="body3">
            운동친구는 여성 전용 운동 클래스와 자기방어 훈련, 콘텐츠를 통해서
            여성이 운동에 적극적으로 참여하고 스포츠 문화의 새로운 주체가 되도록
            힘쓰고 있습니다.
            <br />
            <br />
            운동친구 홈페이지는 프로그램 참여 및 여성만을 위한 운동 콘텐츠를
            공유하는 공간으로, 네이버 카페를 기반으로 만든 커뮤니티는 운동에
            관한 의견과 정보를 교환하는 필드로 제공됩니다.
            <br />
            <br />
            우리는 운동 친화적인 라이프스타일과 여성이 이끄는 스포츠 문화가 널리
            확산되길 기원합니다. 운동이라는 공통의 관심사를 통해서 여성들 간의
            연대의식이 싹틀 수 있도록 운동친구가 함께 하겠습니다.
          </p>
        </div>
        <div class="page-arrow float-right marB-30">
          <img src="/svg/preArrow.svg" class="arrow" alt="pre" />
          <h5 class="current-page">1/3</h5>
          <img src="/svg/nextArrow.svg" class="arrow" alt="pre" />
        </div>
        <div class="about-us-img">
          <img src="/images/about01.png" />
        </div>
      </div>
    </section>
    <!-- about record -->
    <section class="about-record-section">
      <div class="record-container">
        <div class="about-section-title"><h2>활동기록</h2></div>
        <div class="about-section-contents">
          <div class="about-record-info">
            <img src="/svg/pink_star.svg" />
            <div class="info marB-20">
              <h6 class="date">2020년 6월</h6>
              <h4 class="title">여성 전용 원데이 클래스 오픈</h4>
            </div>
          </div>

          <div class="about-record-info">
            <img src="/svg/pink_star.svg" />
            <div class="info">
              <h6 class="date">2020년 5월</h6>
              <h4 class="title">사회적 기업가 육성사업 선발</h4>
              <h4 class="title">운동친구 유튜브 채널 오픈</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about BI -->
    <section class="about-BI-section">
      <div class="about-section-title"><h2>운동친구 BI</h2></div>
      <div class="about-section-contents">
        <div class="about-BI-info marB-40">
          <p class="body3">
            고슴도치는 의외성이 있는 동물 중에서 특유의 공격성이 있으면서도 친한
            개체에게는 털을 세우지 않는 친밀함을 지니고 있습니다. 저희는
            운동이라는 키워드를 내세우면서도 여성 간의 친밀함을 상징할 수 있다는
            점에서 고슴도치를 아이덴티티로 정하게 되었습니다.
          </p>
        </div>
        <div class="BI-img marB-30">
          <div class="black-logo">
            <img  src="/images/aboutBI01.png" />
            
          </div>
          <div class="mint-logo">
            <img src="/images/aboutBI02.png" />
            </div>
          </div>
          <div class="colors">
            <div class="color">
              <span class="color-circle"></span>
              <span class="color-code">00AD84</span>
            </div>
            <div class="color">
              <span class="color-circle"></span>
              <span class="color-code">D4BFFF</span>
            </div>
            <div class="color">
              <span class="color-circle"></span>
              <span class="color-code">231815</span>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  
    <% include ../include/footer %>
  </body>
</html>
