<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% include ../head %>
  <title>Document</title>
</head>

<body>
  <div class="header"><% include ../include/header %></div>
  <div class="about-container">
    <!-- about member -->
    <section class="about-us-section about-member">
      <div class="about-section-title">
        <h2>운동친구 멤버</h2>
      </div>
      <div class="about-section-contents">
        <div class="card">
          <div class="info">
            <div class="info-header">
              <p class="name body3">대표 양민영</p>
              <h6 class="msg">"여성이 주도하는 스포츠 문화"</h6>
            </div>
            <ul class="info-contents">
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">오마이뉴스, 한겨레 신문에 칼럼 연재</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">페미니즘 에세이 『운동하는 여자』 저자</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">KBS 크랩, EBS 다큐 시선 출연</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">
                  운동친구 팀 결성, 사회적 기업가 육성사업 선발
                </p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">다양한 운동을 직접 배우며 출간 준비</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <div class="info-header">
              <p class="name body3">기획 이효나</p>
              <h6 class="msg">"여성이 즐거운 원데이 클래스"</h6>
            </div>
            <ul class="info-contents">
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">그레이시주짓수서울 우먼 임파워드 지도자</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">주짓수, 무에타이, 케틀벨, 각종 호신술 섭렵</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">기획·홍보를 담당하며 SFG 지도자 과정 준비</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <div class="info-header">
              <p class="name body3">크리에이터 강지영</p>
              <h6 class="msg">"여성을 위한 운동 콘텐츠"</h6>
            </div>
            <ul class="info-contents">
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">나만 즐거운 노잼일상 채널 운영</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">
                  운동을 여성의 놀이로 만드는 프로젝트팀 SPOWYN 기획팀
                </p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">숙명신보 인터뷰, AFP 인터뷰</p>
              </li>
              <li class="info-element">
                <img src="/svg/dot.svg" />
                <p class="body2">
                  운동의 재미를 만끽하며 유튜브 채널 운동친구 운영 중
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>


  <% include ../include/footer %>
</body>

</html>