<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include ../head %>
    <title>Document</title>
</head>

<body>
    <div class="header"><% include ../include/header %></div>
    <div class="sub-container">
        <h2 class="board-title">마스크, 덥다고 입만 가리고 있지는 않나요?</h2>
        <div class="board-container">
            <div class="board-header">
                <div class="board-info">
                    <span class="type">작성일</span>
                    <span class="data">작성일자</span>
                </div>
                <div class="board-info">
                    <span class="type">작성자</span>
                    <span class="data">작성자 이름</span>
                </div>
            </div>
            <div class="board-content">
                <div class="board-img"><img src="/images/column01.png" /></div>
                <p>식품의약품안전처는 마스크 종류에 상관없이 입과 코를 완벽하게 가려야 코로나 19 예방에 효과적이라고 당부했다. 또한 코로나19 상황에서 마스크를 착용할 때에는 ‘보건용 마스크’,
                    ‘수술용 마스크’, ‘비말차단용 마스크’를 사용하는 것이 바람직하다고 안내했다.</p><br>
                <p>
                    ‘의약외품’ 마스크는 미세입자나 비말 등의 차단 성능이 검증된 제품으로, 구매 시 반드시 ‘의약외품’ 표시를 확인한다. 또, 미세입자 차단은 KF94, KF80, 비말
                    차단용·수술용 순으로 성능이 있고, 이와 반대로 호흡은 비말 차단용·수술용, KF80 KF94 순으로 용이하다. 의약외품 마스크가 없을 때는 천 마스크나 일회용 마스크 등과 같이
                    공산품 마스크도 도움이 된다.
                </p>
                <br>
                <p>
                    무엇보다 중요한 것은 마스크 착용법이다. 먼저 손을 깨끗이 씻고, 입과 코를 완전히 가리도록 하고 얼굴과 마스크 사이에 틈이 없는지 확인해야 한다. 또한, 수건이나 휴지를 사용할
                    경우 밀착력이 떨어져 성능이 저하되므로 덧대지 말고, 착용하는 동안 마스크를 만지지 않되 만약 닿았을 경우 손을 깨끗이 씻도록 한다. 마스크 착용으로 호흡곤란, 어지러움, 두통 등
                    이상 반응이 발생할 경우, 개별 공간에서 마스크를 벗고 휴식을 취한 후 증상이 완화되면 다시 마스크를 착용한다.
                </p>
                <br>
                <p>식약처는 “더운 여름철에는 통기성이 잘 되는 제품을 착용하고, 코로나 19가 확산되지 않도록 개인 위생관리를 철저히 할 것”을 강조했다.</p>
            </div>

        </div>
        <div class="page-title">
            <h3>칼럼</h3>
            <div class="page-arrow">
                <h5 class="current-page"> 목록으로</h5>
                <img src="/svg/nextArrow.svg" class="arrow" alt="pre">
            </div>
        </div>
        <div class="youtube-list">
            <article class="youtube-item">
                <div class="thumb">
                    <img src="/images/column01.png" alt="pre">
                </div>
                <h6 class="date">2020. 7. 16.</h6>
                <p class="title body1">마스크, 덥다고 입만 가리고 있지 않나요?</p>
                <p class="text body2">김윤정</p>
            </article>
            <article class="youtube-item">
                <div class="thumb">
                    <img src="/images/column02.png" alt="pre">
                </div>
                <h6 class="date">2020. 7. 16.</h6>
                <p class="title body1">식중독, 모기, 자외선…여름철 골칫거리로부터 건강 지키는 법</p>
                <p class="text body2">박혜선</p>
            </article>
            <article class="youtube-item">
                <div class="thumb">
                    <img src="/images/column03.png" alt="pre">
                </div>
                <h6 class="date">2020. 7. 9.</h6>
                <p class="title body1">[집콕족 건강백과] 건강을 위한 습관, '아침 산책'이 좋은 이유는?</p>
                <p class="text body2">박혜선</p>
            </article>

        </div>
    </div>
    <% include ../include/footer %>
</body>

</html>