<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../head %>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <% include ../include/header %>
    </div>
    <div class="sub-container">
        <div class="page-title">
            <h2>유튜브</h2>
            <div class="page-arrow">
                <img src="/svg/preArrow.svg" class="arrow" alt="pre">
                <h5 class="current-page"> 전체</h5>
                <img src="/svg/nextArrow.svg" class="arrow" alt="pre">
            </div>
        </div>
        <div class="youtube-list">
            <article class=youtube-item>
              <div class="thumb">
                <img src="/images/youtube01.png" alt="pre">
              </div>
              <h6 class="date">2020.10.10</h6>
              <p class="title body1">액션 읽는 밤 4회 -핵금발 언니는 참지 않아!</p>
              <p class="text body2">액션영화를 문학처럼 읽는다, 액션 읽는 밤 이번 영화는 2017년에 개봉한 샤를리즈 테론 주연의 영화 ‘아토믹 블론드’입니다.</p>
            </article>
            <article class=youtube-item>
              <div class="thumb">
                <img src="/images/youtube02.png" alt="pre">
              </div>
              <h6 class="date">2020.10.10</h6>
              <p class="title body1">액션 읽는 밤 4회 -핵금발 언니는 참지 않아!</p>
              <p class="text body2">액션영화를 문학처럼 읽는다, 액션 읽는 밤 이번 영화는 2017년에 개봉한 샤를리즈 테론 주연의 영화 ‘아토믹 블론드’입니다.</p>
            </article>
            <article class=youtube-item>
              <div class="thumb">
                <img src="/images/youtube03.png" alt="pre">
              </div>
              <h6 class="date">2020.10.10</h6>
              <p class="title body1">액션 읽는 밤 4회 -핵금발 언니는 참지 않아!</p>
              <p class="text body2">액션영화를 문학처럼 읽는다, 액션 읽는 밤 이번 영화는 2017년에 개봉한 샤를리즈 테론 주연의 영화 ‘아토믹 블론드’입니다.</p>
            </article>
        </div>
    </div>
    <% include ../include/footer %>
</body>
</html>