<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../head %>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <% include ../include/header %>
    </div>
    <div class="sub-container">
        <h2 class="board-title">7월 챌린저스 챌린지 안내</h2>
        <div class="board-container">
            <div class="board-header">
                <div class="board-info">
                    <span class="type">작성일</span>
                    <span class="data">2020.10.03</span>
                </div>
                <div class="board-info">
                    <span class="type">작성자</span>
                    <span class="data">관리자</span>
                </div>
            </div>
            <div class="board-content">
                <p>안녕하세요, 여자들이 만드는 남자 없는 체육관 운동친구입니다.</p><br>
                <p>
                    운동친구에서 6월 한달 동안 버피 30개 하기, 푸시업 50개 하기, 플랭크 5세트 하기 챌린지를 챌린저스에서 진행하였는데요.<br> 
                    참여하신 분들이 매일매일 운동을 하니 운동 습관이 생기고 체력이 좋아져서 뿌듯했다는 평을 남겨주셨답니다!<br>
                    😆 자세까지 좋아져서 뿌듯했단 평까지!<br>
                    여러분도 함께 해보시는 거 어떠세요?
                </p>
                <br>
                <p>
                    7월에는 파워투유에서 알려드린 푸시업, 플랭크, 스쿼트 챌린지를 개설했습니다!<br> 
                    챌린저스에 ‘운동친구’ 검색 후 원하시는 챌린지를 신청하시면 됩니다.
                </p>
                <br>
                <ul>
                    <li>· 스쿼트 챌린지 비밀번호 : hellsquat</li>
                    <li>· 플랭크 챌린지 비밀번호 : hellflank</li>
                    <li>· 푸시업 챌린지 비밀번호 :  hellpushup</li>
                </ul>
                <br>
                <p>그럼 챌린저스에서 만나요~~🙌🙌﻿</p>
            </div>

        </div>
    </div>
    <% include ../include/footer %>
</body>
</html>